Flask
Flask-Login
flask-mysql
Flask-SQLAlchemy
gevent
gevent-socketio
gevent-websocket
greenlet
itsdangerous
Jinja2
MarkupSafe
requests
SimpleCV
six
socketIO-client
socketio-server
SQLAlchemy
websocket-client
Werkzeug
wheel

